.options-panel {
  width: 100%;
  height: 360px;
  background: wheat;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.options-container {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.selected-group {
  margin-left: 10px;
}

.group-global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.group {
  flex: 1 0 200px;
  background: #000;
}
